PAPERLESS_REDIS=redis://paperless-redis:6379
PAPERLESS_DBHOST=paperless-db
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=[[secret:PAPERLESS_DBPASS]]
PAPERLESS_SECRET_KEY=[[secret:PAPERLESS_SECRET_KEY]]
PAPERLESS_TIME_ZONE=Asia/Kolkata
USERMAP_UID=1000
USERMAP_GID=1000
PAPERLESS_URL=http://192.168.0.10:8000
PAPERLESS_CSRF_TRUSTED_ORIGINS=http://192.168.0.10:8000
PAPERLESS_ALLOWED_HOSTS=[[private:PAPERLESS_ALLOWED_HOSTS]]
PAPERLESS_OCR_MODE=auto
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=
PAPERLESS_TASK_WORKERS=2
PAPERLESS_THREADS_PER_WORKER=1
PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=true
PAPERLESS_CONSUMER_DELETE_DUPLICATES=false
PAPERLESS_FILENAME_FORMAT=[[private:PAPERLESS_FILENAME_FORMAT]]
PAPERLESS_ADMIN_USER=imad7x
PAPERLESS_ADMIN_PASSWORD=[[secret:PAPERLESS_ADMIN_PASSWORD]]
PAPERLESS_ADMIN_MAIL=[[private:PAPERLESS_ADMIN_MAIL]]
