TZ=Asia/Kolkata
RETENTION_DAYS=60
RECS_PER_SCAN=60
LOG_LEVEL=[[private:LOG_LEVEL]]
HISTORY_SOURCE=jellystat
JELLYSTAT_URL=http://192.168.0.10:3003
JELLYSTAT_API_KEY=[[secret:JELLYSTAT_API_KEY]]
JELLYFIN_URL=http://192.168.0.10:8096
JELLYFIN_API_KEY=[[secret:JELLYFIN_API_KEY]]
SEERR_URL=http://192.168.0.10:5055
SEERR_API_KEY=[[secret:JELLYFIN_JELLYLOOK_SEERR_API_KEY]]
LLM_PROVIDER=google
LLM_MODEL=gemini-3.5-flash-lite
LLM_TEMPERATURE=0.7
GOOGLE_API_KEY=[[secret:GOOGLE_API_KEY]]
TMDB_API_KEY=[[secret:TMDB_API_KEY]]
OMDB_API_KEY=[[secret:OMDB_API_KEY]]
TMDB_REGION=[[private:TMDB_REGION]]
