APP_KEY=[[secret:APP_KEY]]
APP_URL=https://finance.[[private:DOMAIN]]
TZ=Asia/Kolkata
TRUSTED_PROXIES=[[private:TRUSTED_PROXIES]]
DB_CONNECTION=pgsql
DB_HOST=finance-db
DB_PORT=5432
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=[[secret:DB_PASSWORD]]
SITE_OWNER=[[private:SITE_OWNER]]
DEFAULT_LANGUAGE=en_US
DEFAULT_LOCALE=en_IN
STATIC_CRON_TOKEN=[[secret:STATIC_CRON_TOKEN]]
